body {
  font-family: "Montserrat", sans-serif;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 8%, 62%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.list {
  display: flex;
  margin-right: 5vh;
}

.list a {
  text-decoration: none;
  color: hsl(233, 26%, 24%);
  padding: 2vw;
}

.list a:hover {
  border-bottom: 3px solid hsl(136, 63%, 35%);
  padding-bottom: 20px;
  text-decoration-style: solid;
}

button {
  width: 12vw;
  border-radius: 20px;
  height: 5vh;
  border: none;
  color: white;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  cursor: pointer;
}

button:hover {
  background: linear-gradient(
    90deg,
    hsl(136, 65%, 51%, 0.5),
    hsl(192, 70%, 51%, 0.5)
  );
}
.container {
  display: flex;
  height: 83vh;
  width: 100%;
  justify-content: space-between;
}

.first {
  width: 35%;
  height: 60vh;
  margin-top: 15vh;
  margin-left: 10vh;
}

.second {
  width: 60%;
  height: 100vh;
  background: url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top -120px right -120px, top -260px right -460px;
}

.box {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 16%, 96%);
}

.why {
  width: 45%;
  height: 30vh;
  margin-top: 5vh;
  margin-left: 10vh;
}

.heading {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 5vh;
  color: hsl(233, 26%, 24%);
}

.first .heading {
  font-size: 7vh;
}
.para {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 18px;
  line-height: 22px;
}
.box-1 {
  display: flex;
  justify-content: space-evenly;
}
.second-container {
  background-color: hsl(0, 0%, 98%);
}
.box-2 {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(0, 0%, 98%);
}

.card-1 {
  width: 17%;

  padding: 1vh;
}

.card-1 .icon {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.card-1 .title {
  color: hsl(233, 26%, 24%);
  font-size: 20px;
}
.card-1 .para {
  font-size: 15px;
}

.card-2 {
  width: 17%;
  padding: 1vh;
  background-color: white;
}

.card-2 img {
  height: 25vh;
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 5px;
}

.card-2 .author {
  font-size: 10px;
  margin-bottom: 2vh;
  padding: 5px;
}
.card-2 .title {
  color: hsl(233, 26%, 24%);
  font-size: 20px;
  margin-bottom: 2vh;
  padding: 5px;
}

.card-2 .title:hover {
  color: hsl(135, 65%, 29%);
}
.card-2 section {
  width: 90%;
  margin-left: 1vh;
}
.card-2 .para {
  font-size: 13px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 5px;
}

.heading-type-2 {
  color: hsl(233, 26%, 24%);
  background-color: hsl(0, 0%, 98%);
  margin-bottom: 8vh;
  font-size: 30px;
  margin-left: 11vh;
  padding-top: 10vh;
}

footer {
  margin-top: 10vh;
  background-color: rgb(45, 49, 78);
  display: flex;
  justify-content: space-around;
  height: 140px;
}
.all-tags {
  display: flex;
  margin-top: 2vh;
}
.all-tags a {
  padding: 5px;
}
.all-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter {
  filter: invert(99%) sepia(88%) saturate(2%) hue-rotate(315deg)
    brightness(109%) contrast(100%);
}

.lists {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lists li {
  padding: 10px;
  font-size: 12px;
}

.request {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright {
  margin-top: 15px;
  font-size: 13px;
}

.toggler {
  height: 0px;
  width: 0px;
  opacity: 0;
}

.toggler-hamburger {
  display: none;
}

.toggler-close {
  display: none;
}

.all-tags a:hover {
  filter: invert(64%) sepia(74%) saturate(513%) hue-rotate(80deg)
    brightness(96%) contrast(81%);
  cursor: pointer;
}

.lists a:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  body {
    background: url("./images/image-mockups.png") no-repeat top,
      url("./images/bg-intro-mobile.svg") no-repeat top;
    background-size: 100%;
    font-family: "Montserrat", sans - serif;
    font-family: "Public Sans", sans - serif;
  }
  .second {
    background: none;
  }

  .container {
    margin: 0px;
    padding: 0px;
    height: 50vh;
    flex-direction: column;
    margin-top: 42vh;
    justify-content: flex-start;
  }
  .container .first {
    width: 100%;
  }
  .list {
    display: none;
  }

  nav button {
    display: none;
  }

  .first {
    height: 40vh;
    width: 100%;
    margin-top: 5vh;
    margin-left: 0vh;
  }

  .list a:hover {
    border: none;
    padding-bottom: 0px;
    text-decoration-style: none;
    cursor: pointer;
  }
  .first .heading {
    font-size: 4.7vh;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .first .para {
    text-align: center;
    font-size: 16px;
  }

  button {
    width: 40vw;
    border-radius: 20px;
    height: 5vh;
    border: none;
    color: white;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-align: center;
    margin-left: 28vw;
  }
  .heading {
    font-size: 4.4vh;
  }
  .box {
    height: 180vh;
  }

  .why {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50vh;
    margin-left: 0vh;
    text-align: center;
  }
  .box-1 {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }

  .card-1 {
    width: 100%;
    text-align: center;

    margin-bottom: 10px;
  }
  .card-1 .icon {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .box-2 {
    margin-top: 10vh;
    flex-direction: column;
  }
  .heading-type-2 {
    text-align: center;
    margin: 0px;
    padding-top: 10vh;
    margin-top: 0vh;

    margin-bottom: 5vh;
  }
  .card-2 {
    width: 100%;
    padding: 0vh;
    margin-bottom: 10px;
  }
  .card-2 img {
    height: 25vh;
    width: 80%;
    margin-bottom: 2vh;
    border-radius: 5px;
    margin-left: 40px;
  }
  .card-2 section {
    width: 70%;
    margin-left: 60px;
  }

  footer {
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    text-align: center;
    background-color: rgb(45, 49, 78);
  }
  footer .lists {
    justify-content: space-around;
  }
  footer .all-tags {
    justify-content: center;
  }

  footer .all-tags a {
    padding: 8px;
  }
  footer button {
    text-align: center;
    margin-right: 15vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .toggler {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .toggler-hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  nav {
    background-color: white;
    height: 100px;
    justify-content: space-between;
  }
  nav .logo {
    margin-left: 20px;
  }

  .toggler:checked ~ .toggler-hamburger {
    display: none;
  }

  .toggler:checked ~ .toggler-close {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .page-link {
    background-image: linear-gradient(
      180deg,
      hsl(233, 26%, 24%, 0.7),
      rgb(173, 176, 185, 0.1)
    );
    width: 100%;
    display: none;
    height: 443px;
    position: absolute;
    top: 12.2vh;
    left: 0px;
  }

  .toggler:checked ~ .page-link {
    display: block;
  }

  .toggler:checked ~ .page-link .list {
    display: block;
    height: 240px;
    margin: auto;
    margin-top: 20px;
    width: 80vw;
    align-content: center;
    background-color: white;
    text-align: center;
    border-radius: 5px;
  }
  .toggler:checked ~ .page-link .list li {
    padding: 13px;
    padding-top: 15px;
    margin-bottom: 2px;
  }
}
